
.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;

  &-title {
    color: $primary;
    font: 32px/40px 'roboto-bold';
    margin-bottom: 24px;
  }
  &-text {
    color: $black;
    width: 387px;
    -x-font-size: 20px/28px;
  }
  &-item {
    background: rgba(79, 184, 235, 0.2);
    border-radius: 50%;
    position: absolute;
  }
}