
mixin input(input)
  .input(data-class="bs br4 shadow click", data-input-type=input.type)
    input.input-field(type="text", data-class="bs")
    .input-placeholder(data-class="ptc")= input.placeholder
    .input-error
    