
.input {
  background: #fff;
  font-size: 16px;
  padding: 6px 0 6px 16px;
  margin-bottom: 32px;
  transition: .2s;
  -x-size: 100% 56px;

  &-field {
    display: block;
    padding: 20px 0 0 16px;
    font-size: inherit;
    font-family: inherit;
    -x-color: $black transparent;
    -x-position: 0 x x 0;
    -x-size: 100%;
  }
  &-placeholder {
    color: rgba(17, 17, 17, 0.48);;
    left: 16px;
    transition: .2s;
  }
  &-error {
    color: $primary-red;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
  }

  &-field, &-placeholder, &-error {
    position: absolute;
  }

  &.is-filled {
    .input-placeholder {
      font-size: 13px;
      top: 6px;
      transform: none;
    }
    .input-field {
      z-index: 9;
    }
  }
  &.is-error {
    background: $primary-red-girl;
    margin-bottom: 42px;

    .input-error {
      bottom: -28px;
      opacity: 1;
    }
  }
}