
$slide-buttons-right: $padding;
$slide-buttons-bottom: 174/$design-height * 100%;

.slide-buttons {
  -x-position: x $slide-buttons-right $slide-buttons-bottom x;
}
.slide-button {
  background: url('/images/arrow.png') no-repeat;
  -x-size: 64px;

  &.prev {
    margin-right: 20px;
  }
  &.next {
    transform: rotate(180deg);
  }
}