
$slide-buttons-right: $padding;
$slide-buttons-bottom: 170/$design-height * 100%;

.slide-buttons {
  -x-position: absolute x $slide-buttons-right $slide-buttons-bottom x;

  &-item {
    background: url('/images/arrow.png') no-repeat;
    -x-size: 64px;
  
    &.prev {
      margin-right: 20px;
    }
    &.next {
      transform: rotate(180deg);
    }
  }
}