
/** box-sizing */
[data-class~="bs"] {
  box-sizing: border-box;
}

/** flexbox */
[data-class~="flex"] {
  display: flex;
}
[data-class~="fsb"] { // flex-space-between
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** sizes */
[data-class~="w100"] {
  width: 100%;
}
[data-class~="full"] {
  -x-size: 100%;
}

/** padding */
[data-class~="mp"] { // main-padding
  padding: 0 $padding;
}