
/** border-radius */
[data-class~="br4"] {
  border-radius: 4px;
}
[data-class~="br8"] {
  border-radius: 8px;
}

/** box-sizing */
[data-class~="bs"] {
  box-sizing: border-box;
}

/** box-shadow */
[data-class~="shadow"] {
  box-shadow: 0 4px 4px rgba($shadow, 0.04), 0 4px 16px rgba($shadow, 0.08);

  &:hover {
    box-shadow: 0 4px 4px rgba($shadow, 0.04), 0 4px 56px rgba($shadow, 0.16);
  }
}

/** flexbox */
[data-class~="flex"] {
  display: flex;
}
[data-class~="fc"] { // flex-center
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-class~="fsb"] { // flex-space-between
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** sizes */
[data-class~="w100"] {
  width: 100%;
}
[data-class~="full"] {
  -x-size: 100%;
}

/** padding */
[data-class~="mp"] { // main-padding
  padding: 0 $padding;
}

/** position */
[data-class~="pc"] { // position-center
  transform: translate(-50%, -50%);
  -x-position: absolute 50% x x 50%;
}
[data-class~="ptc"] { // position-top-center
  top: 50%;
  transform: translateY(-50%);
}

/** help */
[data-class~="click"] {
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: block;
    -x-position: absolute 0 x x 0;
    -x-size: 100%;
  }
}