
/** fonts */
@import './fonts.scss';

/** reset */
@import './reset.scss';

/** assets */
@import './assets.scss';

/** main styles */
body {
  font-family: 'roboto-regular', sans-serif;
  position: relative;
  -x-size: x 100vh;
}
.root {
  opacity: 0;

  &.is-active {
    opacity: 1;
  }
}

/** classes */
@import './classes.scss';

/** components */
@import '../components/components.scss';