
/** fonts */
@import './fonts.scss';

/** reset */
@import './reset.scss';

/** assets */
@import './assets.scss';

/** main styles */
body {
  font-family: 'roboto-regular', sans-serif;
  position: relative;
  -x-size: 100vw 100vh;
}

/** classes */
@import './classes.scss';

/** components */
@import '../components/components.scss';