
//- components
include ./components/components.pug

//- document
<!DOCTYPE html>
html(lang="en")
  head
    title cmbox-test
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #root(data-class="full")
      +header()
      +carousel()
