
$slide-top: 300/$design-height * 100%;
$slide-left: $padding;

.slide {
  background: {
    position: center;
    size: cover;
  };
  color: #fff;
  opacity: 0;
  transition: .2s;
  -x-position: absolute 0 x x 0;

  &-info {
    width: 420px;
    -x-position: absolute $slide-top x x $slide-left;
  }
  &-title {
    font: 48px 'roboto-black';
    margin-bottom: 20px;
  }
  &-text {
    margin-bottom: 32px;
    -x-font-size: 18px/21px;
  }
  &-button {
    width: 200px;
  }

  &.is-active {
    opacity: 1;
  }
}